USE [master]
GO
/****** Object:  Database [BatterySwapDBVer2]    Script Date: 31/10/2025 9:14:52 CH ******/
CREATE DATABASE [BatterySwapDBVer2]
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BatterySwapDBVer2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BatterySwapDBVer2]
GO
/****** Object:  Table [dbo].[Battery]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Battery](
	[Battery_ID] [int] IDENTITY(1,1) NOT NULL,
	[Serial_Number] [nvarchar](50) NULL,
	[Resistance] [float] NULL,
	[SoH] [float] NULL,
	[Type_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Battery_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Battery_Type]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Battery_Type](
	[ID] [int] NOT NULL,
	[Model] [nvarchar](50) NULL,
	[Specification] [nvarchar](50) NULL,
	[Nominal_Resistance] [decimal](5, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BatterySlot]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BatterySlot](
	[Slot_ID] [int] IDENTITY(1,1) NOT NULL,
	[Slot_Code] [nvarchar](50) NULL,
	[Slot_Type] [nvarchar](20) NULL,
	[State] [nvarchar](20) NULL,
	[Door_State] [nvarchar](10) NULL,
	[Battery_ID] [int] NULL,
	[Condition] [nvarchar](50) NULL,
	[Last_Update] [datetime] NULL,
	[ChargingStation_ID] [int] NULL,
	[IsAssign] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Slot_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[Booking_ID] [int] IDENTITY(1,1) NOT NULL,
	[Vehicle_ID] [int] NOT NULL,
	[Battery_Request] [nvarchar](50) NULL,
	[Package_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Station_ID] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[Qr_Code] [varchar](max) NULL,
	[Booking_Time] [datetime] NULL,
	[Expired_Date] [datetime] NULL,
	[ChargingStation_ID] [int] NULL,
	[Slot_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Booking_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Charging_Station]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charging_Station](
	[ChargingStation_ID] [int] IDENTITY(1,1) NOT NULL,
	[Station_ID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Slot_Capacity] [int] NULL,
	[Slot_Type] [nvarchar](20) NULL,
	[Power_Rating] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChargingStation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Comment_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Time_Post] [datetime] NULL,
	[Swap_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Comment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dispatch_Log]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dispatch_Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Station_Request_ID] [int] NOT NULL,
	[Station_Respond_ID] [int] NULL,
	[BatteryType_Request_ID] [int] NOT NULL,
	[Quantity_Type_Good] [int] NOT NULL,
	[Quantity_Type_Average] [int] NOT NULL,
	[Quantity_Type_Bad] [int] NOT NULL,
	[Request_Time] [datetime2](0) NOT NULL,
	[Respond_Time] [datetime2](0) NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Dispatch_Log] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverPackage]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverPackage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Package_ID] [int] NOT NULL,
	[Start_date] [date] NULL,
	[End_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Package]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package](
	[Package_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NULL,
	[Required_SoH] [decimal](5, 2) NULL,
	[MinSoH] [int] NOT NULL,
	[MaxSoH] [int] NOT NULL,
	[Status] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Package_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Password_Reset]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Password_Reset](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NULL,
	[OTP] [varchar](10) NOT NULL,
	[Created_At] [datetime] NULL,
	[Expired_At] [datetime] NOT NULL,
	[Is_Used] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransaction]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Station_ID] [int] NULL,
	[Package_ID] [int] NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Payment_Method] [nvarchar](20) NULL,
	[Description] [nvarchar](100) NULL,
	[Transaction_Time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Station]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Station](
	[Station_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Station_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SwapTransaction]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SwapTransaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Driver_ID] [int] NOT NULL,
	[Staff_ID] [int] NULL,
	[Station_ID] [int] NOT NULL,
	[Old_Battery] [int] NULL,
	[New_Battery] [int] NULL,
	[SoH_Old] [float] NULL,
	[SoH_New] [float] NULL,
	[Fee] [decimal](10, 2) NULL,
	[Payment_ID] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[Swap_Time] [datetime] NULL,
	[Booking_ID] [int] NULL,
	[ChargingStation_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NULL,
	[Status] [nvarchar](10) NULL,
	[Station_ID] [int] NULL,
	[Avatar_URL] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[Vehicle_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Vin] [nvarchar](50) NULL,
	[License_Plate] [nvarchar](20) NULL,
	[Model_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Vehicle_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle_Model]    Script Date: 31/10/2025 9:14:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle_Model](
	[Model_ID] [int] IDENTITY(1,1) NOT NULL,
	[Model_Name] [nvarchar](80) NOT NULL,
	[Brand] [nvarchar](60) NULL,
	[Battery_Type] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Model_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Battery] ON 

INSERT [dbo].[Battery] ([Battery_ID], [Serial_Number], [Resistance], [SoH], [Type_ID]) VALUES (1, N'BAT-001', 0.0505, 83.7014209603212, 1)
INSERT [dbo].[Battery] ([Battery_ID], [Serial_Number], [Resistance], [SoH], [Type_ID]) VALUES (3, N'BAT-003', 0.0667, 87.673528565321533, 1)
INSERT [dbo].[Battery] ([Battery_ID], [Serial_Number], [Resistance], [SoH], [Type_ID]) VALUES (4, N'BAT-004', 0.0349, 75.694883379933145, 2)
GO
SET IDENTITY_INSERT [dbo].[Battery] OFF
GO
INSERT [dbo].[Battery_Type] ([ID], [Model], [Specification], [Nominal_Resistance]) VALUES (1, N'Lithium-ion', N'72V-120Ah', CAST(0.050 AS Decimal(5, 3)))
INSERT [dbo].[Battery_Type] ([ID], [Model], [Specification], [Nominal_Resistance]) VALUES (2, N'LFP', N'52V-25Ah', CAST(0.030 AS Decimal(5, 3)))
GO
SET IDENTITY_INSERT [dbo].[BatterySlot] ON 

INSERT [dbo].[BatterySlot] ([Slot_ID], [Slot_Code], [Slot_Type], [State], [Door_State], [Battery_ID], [Condition], [Last_Update], [ChargingStation_ID], [IsAssign]) VALUES (1, N'CS1-S001', N'Normal', N'Occupied', N'Closed', 1, N'Good ', CAST(N'2025-10-12T15:00:51.133' AS DateTime), 1, 0)
INSERT [dbo].[BatterySlot] ([Slot_ID], [Slot_Code], [Slot_Type], [State], [Door_State], [Battery_ID], [Condition], [Last_Update], [ChargingStation_ID], [IsAssign]) VALUES (2, N'CS1-S002', N'Normal', N'Occupied', N'Closed', 17, N'Good', CAST(N'2025-10-29T22:07:50.563' AS DateTime), 1, 0)
INSERT [dbo].[BatterySlot] ([Slot_ID], [Slot_Code], [Slot_Type], [State], [Door_State], [Battery_ID], [Condition], [Last_Update], [ChargingStation_ID], [IsAssign]) VALUES (3, N'CS1-S003', N'Normal', N'Occupied', N'Closed', 5, N'Good', CAST(N'2025-10-12T15:00:51.133' AS DateTime), 1, 0)
GO
SET IDENTITY_INSERT [dbo].[BatterySlot] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Charging_Station] ON 

INSERT [dbo].[Charging_Station] ([ChargingStation_ID], [Station_ID], [Name], [Slot_Capacity], [Slot_Type], [Power_Rating]) VALUES (1, 1, N'Gogoro Central Park - CS#1', 10, N'Lithium-ion', N'5.0 kW')
INSERT [dbo].[Charging_Station] ([ChargingStation_ID], [Station_ID], [Name], [Slot_Capacity], [Slot_Type], [Power_Rating]) VALUES (2, 1, N'Gogoro Central Park - CS#2', 8, N'LFP', N'3.5 kW')
INSERT [dbo].[Charging_Station] ([ChargingStation_ID], [Station_ID], [Name], [Slot_Capacity], [Slot_Type], [Power_Rating]) VALUES (3, 2, N'Gogoro Grand Park - CS#1', 10, N'Lithium-ion', N'5.0 kW')
SET IDENTITY_INSERT [dbo].[Charging_Station] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([Comment_ID], [User_ID], [Content], [Time_Post], [Swap_ID]) VALUES (1, 4, N'Dịch vụ tốt', CAST(N'2025-09-22T19:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Comment] ([Comment_ID], [User_ID], [Content], [Time_Post], [Swap_ID]) VALUES (2, 5, N'Nhân viên thân thiện', CAST(N'2025-09-23T11:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Comment] ([Comment_ID], [User_ID], [Content], [Time_Post], [Swap_ID]) VALUES (7, 6, N'Dịch vụ tốt, chất lượng tuyệt vời', CAST(N'2025-10-25T16:04:13.517' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Dispatch_Log] ON 

INSERT [dbo].[Dispatch_Log] ([ID], [Station_Request_ID], [Station_Respond_ID], [BatteryType_Request_ID], [Quantity_Type_Good], [Quantity_Type_Average], [Quantity_Type_Bad], [Request_Time], [Respond_Time], [Status]) VALUES (11, 2, 1, 2, 0, 1, 0, CAST(N'2025-10-27T00:00:00.0000000' AS DateTime2), CAST(N'2025-10-27T00:00:00.0000000' AS DateTime2), N'Complete')
INSERT [dbo].[Dispatch_Log] ([ID], [Station_Request_ID], [Station_Respond_ID], [BatteryType_Request_ID], [Quantity_Type_Good], [Quantity_Type_Average], [Quantity_Type_Bad], [Request_Time], [Respond_Time], [Status]) VALUES (12, 2, 1, 2, 0, 1, 0, CAST(N'2025-10-27T00:00:00.0000000' AS DateTime2), CAST(N'2025-10-27T00:00:00.0000000' AS DateTime2), N'Complete')
INSERT [dbo].[Dispatch_Log] ([ID], [Station_Request_ID], [Station_Respond_ID], [BatteryType_Request_ID], [Quantity_Type_Good], [Quantity_Type_Average], [Quantity_Type_Bad], [Request_Time], [Respond_Time], [Status]) VALUES (13, 2, 0, 1, 2, 3, 1, CAST(N'2025-10-27T00:00:00.0000000' AS DateTime2), CAST(N'2025-10-27T00:00:00.0000000' AS DateTime2), N'Cancelled')
SET IDENTITY_INSERT [dbo].[Dispatch_Log] OFF
GO
SET IDENTITY_INSERT [dbo].[DriverPackage] ON 

INSERT [dbo].[DriverPackage] ([ID], [User_ID], [Package_ID], [Start_date], [End_date]) VALUES (1, 1, 1, CAST(N'2025-09-01' AS Date), CAST(N'2025-12-01' AS Date))
INSERT [dbo].[DriverPackage] ([ID], [User_ID], [Package_ID], [Start_date], [End_date]) VALUES (1004, 1006, 1, CAST(N'2025-10-03' AS Date), CAST(N'2025-11-02' AS Date))
INSERT [dbo].[DriverPackage] ([ID], [User_ID], [Package_ID], [Start_date], [End_date]) VALUES (1007, 6, 4, CAST(N'2025-10-29' AS Date), CAST(N'2025-11-28' AS Date))
SET IDENTITY_INSERT [dbo].[DriverPackage] OFF
GO
SET IDENTITY_INSERT [dbo].[Package] ON 

INSERT [dbo].[Package] ([Package_ID], [Name], [Description], [Price], [Required_SoH], [MinSoH], [MaxSoH], [Status]) VALUES (1, N'Eco', N'Nhận pin nhóm C (75–80%). Pin trả ≥75% thì free', CAST(100000.00 AS Decimal(10, 2)), CAST(75.00 AS Decimal(5, 2)), 75, 80, N'active')
INSERT [dbo].[Package] ([Package_ID], [Name], [Description], [Price], [Required_SoH], [MinSoH], [MaxSoH], [Status]) VALUES (2, N'Basic', N'Nhận pin nhóm B (80%–85%). Pin trả ≥75% thì free', CAST(200000.00 AS Decimal(10, 2)), CAST(75.00 AS Decimal(5, 2)), 80, 85, N'active')
INSERT [dbo].[Package] ([Package_ID], [Name], [Description], [Price], [Required_SoH], [MinSoH], [MaxSoH], [Status]) VALUES (3, N'Standard', N'Nhận pin nhóm A (=85%). Pin trả ≥70% thì free', CAST(350000.00 AS Decimal(10, 2)), CAST(70.00 AS Decimal(5, 2)), 85, 95, N'active')
SET IDENTITY_INSERT [dbo].[Package] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentTransaction] ON 

INSERT [dbo].[PaymentTransaction] ([ID], [User_ID], [Station_ID], [Package_ID], [Amount], [Payment_Method], [Description], [Transaction_Time]) VALUES (1, 4, NULL, 1, CAST(100000.00 AS Decimal(10, 2)), N'VnPay', N'Buy Battery Package', CAST(N'2025-09-22T20:05:00.000' AS DateTime))
INSERT [dbo].[PaymentTransaction] ([ID], [User_ID], [Station_ID], [Package_ID], [Amount], [Payment_Method], [Description], [Transaction_Time]) VALUES (2, 5, 2, NULL, CAST(200000.00 AS Decimal(10, 2)), N'Cash', N'Swap Battery', CAST(N'2025-09-23T10:30:00.000' AS DateTime))
INSERT [dbo].[PaymentTransaction] ([ID], [User_ID], [Station_ID], [Package_ID], [Amount], [Payment_Method], [Description], [Transaction_Time]) VALUES (3, 6, NULL, 2, CAST(300000.00 AS Decimal(10, 2)), N'VNPay', N'Buy Battery Package', CAST(N'2025-10-09T09:45:00.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[PaymentTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[Station] ON 

INSERT [dbo].[Station] ([Station_ID], [Name], [Address]) VALUES (1, N'Gogoro Central Park', N'Số 208 Nguyễn Hữu Cảnh, Phường 22, Quận Bình Thạnh, TP.HCM')
INSERT [dbo].[Station] ([Station_ID], [Name], [Address]) VALUES (2, N'Gogoro Grand Park - Khu 1', N'Số 512 Nguyễn Xiển, Phường Long Thạnh Mỹ, TP. Thủ Đức, TP.HCM')
INSERT [dbo].[Station] ([Station_ID], [Name], [Address]) VALUES (3, N'Gogoro Central Đồng Khởi', N'Hầm B5, số 72 Lê Thánh Tông, Phường Bến Nghé')
SET IDENTITY_INSERT [dbo].[Station] OFF
GO
SET IDENTITY_INSERT [dbo].[SwapTransaction] ON 

INSERT [dbo].[SwapTransaction] ([ID], [Driver_ID], [Staff_ID], [Station_ID], [Old_Battery], [New_Battery], [SoH_Old], [SoH_New], [Fee], [Payment_ID], [Status], [Swap_Time], [Booking_ID], [ChargingStation_ID]) VALUES (1, 6, NULL, 1, 110, 19, 85.22, 89, CAST(0.00 AS Decimal(10, 2)), NULL, N'Completed', CAST(N'2025-10-14T11:25:08.827' AS DateTime), 9, 1)
INSERT [dbo].[SwapTransaction] ([ID], [Driver_ID], [Staff_ID], [Station_ID], [Old_Battery], [New_Battery], [SoH_Old], [SoH_New], [Fee], [Payment_ID], [Status], [Swap_Time], [Booking_ID], [ChargingStation_ID]) VALUES (2, 1025, NULL, 4, 111, 66, 80.07, 92.9262263439333, CAST(0.00 AS Decimal(10, 2)), 38, N'Completed', CAST(N'2025-10-22T13:38:48.080' AS DateTime), 24, 8)
INSERT [dbo].[SwapTransaction] ([ID], [Driver_ID], [Staff_ID], [Station_ID], [Old_Battery], [New_Battery], [SoH_Old], [SoH_New], [Fee], [Payment_ID], [Status], [Swap_Time], [Booking_ID], [ChargingStation_ID]) VALUES (3, 6, NULL, 1, 112, 2, 50, 78.973377338877214, CAST(500000.00 AS Decimal(10, 2)), 39, N'Completed', CAST(N'2025-10-25T15:45:07.047' AS DateTime), 28, 2)
SET IDENTITY_INSERT [dbo].[SwapTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [FullName], [Phone], [Email], [Password], [Role], [Status], [Station_ID], [Avatar_URL]) VALUES (1, N'Nguyen Van A', N'0123456789', N'nguyenvana@email.com', N'pass123', N'Driver', N'Active', NULL, NULL)
INSERT [dbo].[Users] ([ID], [FullName], [Phone], [Email], [Password], [Role], [Status], [Station_ID], [Avatar_URL]) VALUES (2, N'Tran Thi B', N'0987654321', N'tranthib@email.com', N'pass456', N'Staff', N'Active', 1, NULL)
INSERT [dbo].[Users] ([ID], [FullName], [Phone], [Email], [Password], [Role], [Status], [Station_ID], [Avatar_URL]) VALUES (3, N'Le Van C', N'0912345678', N'levanc@email.com', N'pass789', N'Admin', N'Active', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([Vehicle_ID], [User_ID], [Vin], [License_Plate], [Model_ID]) VALUES (1005, 6, N'RLHJF381XNY001234', N'59B167890', 5)
INSERT [dbo].[Vehicle] ([Vehicle_ID], [User_ID], [Vin], [License_Plate], [Model_ID]) VALUES (1013, 1020, N'RFG2P1234ABB56789', N'60A1-65251', 3)
INSERT [dbo].[Vehicle] ([Vehicle_ID], [User_ID], [Vin], [License_Plate], [Model_ID]) VALUES (1015, 1025, N'RLHJF381XNY002345', N'59A1-2345', 5)
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicle_Model] ON 

INSERT [dbo].[Vehicle_Model] ([Model_ID], [Model_Name], [Brand], [Battery_Type]) VALUES (1, N'Gogoro SuperSport', N'Gogoro', N'LFP')
INSERT [dbo].[Vehicle_Model] ([Model_ID], [Model_Name], [Brand], [Battery_Type]) VALUES (2, N'Gogoro 2 Delight', N'Gogoro', N'Lithium-ion')
INSERT [dbo].[Vehicle_Model] ([Model_ID], [Model_Name], [Brand], [Battery_Type]) VALUES (3, N'Gogoro Viva Mix', N'Gogoro', N'LFP')
SET IDENTITY_INSERT [dbo].[Vehicle_Model] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_BatterySlot_ChargingStation_Slot]    Script Date: 31/10/2025 9:14:52 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_BatterySlot_ChargingStation_Slot] ON [dbo].[BatterySlot]
(
	[ChargingStation_ID] ASC,
	[Slot_Code] ASC
)
WHERE ([Slot_Code] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Comment_User_Swap]    Script Date: 31/10/2025 9:14:52 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Comment_User_Swap] ON [dbo].[Comment]
(
	[User_ID] ASC,
	[Swap_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Dispatch_BatteryType]    Script Date: 31/10/2025 9:14:52 CH ******/
CREATE NONCLUSTERED INDEX [IX_Dispatch_BatteryType] ON [dbo].[Dispatch_Log]
(
	[BatteryType_Request_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Dispatch_RequestTime]    Script Date: 31/10/2025 9:14:52 CH ******/
CREATE NONCLUSTERED INDEX [IX_Dispatch_RequestTime] ON [dbo].[Dispatch_Log]
(
	[Request_Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Dispatch_Respond_ID]    Script Date: 31/10/2025 9:14:52 CH ******/
CREATE NONCLUSTERED INDEX [IX_Dispatch_Respond_ID] ON [dbo].[Dispatch_Log]
(
	[Station_Respond_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Dispatch_Station_Request]    Script Date: 31/10/2025 9:14:52 CH ******/
CREATE NONCLUSTERED INDEX [IX_Dispatch_Station_Request] ON [dbo].[Dispatch_Log]
(
	[Station_Request_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SwapTransaction_BookingID]    Script Date: 31/10/2025 9:14:52 CH ******/
CREATE NONCLUSTERED INDEX [IX_SwapTransaction_BookingID] ON [dbo].[SwapTransaction]
(
	[Booking_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053405CDDC2E]    Script Date: 31/10/2025 9:14:52 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BatterySlot] ADD  DEFAULT (getdate()) FOR [Last_Update]
GO
ALTER TABLE [dbo].[BatterySlot] ADD  DEFAULT ((0)) FOR [IsAssign]
GO
ALTER TABLE [dbo].[Dispatch_Log] ADD  CONSTRAINT [DF_Dispatch_Good]  DEFAULT ((0)) FOR [Quantity_Type_Good]
GO
ALTER TABLE [dbo].[Dispatch_Log] ADD  CONSTRAINT [DF_Dispatch_Average]  DEFAULT ((0)) FOR [Quantity_Type_Average]
GO
ALTER TABLE [dbo].[Dispatch_Log] ADD  CONSTRAINT [DF_Dispatch_Bad]  DEFAULT ((0)) FOR [Quantity_Type_Bad]
GO
ALTER TABLE [dbo].[Dispatch_Log] ADD  CONSTRAINT [DF_Dispatch_RequestTime]  DEFAULT (sysdatetime()) FOR [Request_Time]
GO
ALTER TABLE [dbo].[Dispatch_Log] ADD  CONSTRAINT [DF_Dispatch_Status]  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Package] ADD  DEFAULT ((0)) FOR [Required_SoH]
GO
ALTER TABLE [dbo].[Package] ADD  DEFAULT ((0)) FOR [MinSoH]
GO
ALTER TABLE [dbo].[Package] ADD  DEFAULT ((100)) FOR [MaxSoH]
GO
ALTER TABLE [dbo].[Package] ADD  DEFAULT ('active') FOR [Status]
GO
ALTER TABLE [dbo].[Password_Reset] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Password_Reset] ADD  DEFAULT ((0)) FOR [Is_Used]
GO
ALTER TABLE [dbo].[PaymentTransaction] ADD  DEFAULT (getdate()) FOR [Transaction_Time]
GO
ALTER TABLE [dbo].[SwapTransaction] ADD  DEFAULT (getdate()) FOR [Swap_Time]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Battery]  WITH CHECK ADD  CONSTRAINT [FK_Battery_Type] FOREIGN KEY([Type_ID])
REFERENCES [dbo].[Battery_Type] ([ID])
GO
ALTER TABLE [dbo].[Battery] CHECK CONSTRAINT [FK_Battery_Type]
GO
ALTER TABLE [dbo].[BatterySlot]  WITH CHECK ADD  CONSTRAINT [FK_BatterySlot_Battery] FOREIGN KEY([Battery_ID])
REFERENCES [dbo].[Battery] ([Battery_ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BatterySlot] CHECK CONSTRAINT [FK_BatterySlot_Battery]
GO
ALTER TABLE [dbo].[BatterySlot]  WITH CHECK ADD  CONSTRAINT [FK_BatterySlot_ChargingStation] FOREIGN KEY([ChargingStation_ID])
REFERENCES [dbo].[Charging_Station] ([ChargingStation_ID])
GO
ALTER TABLE [dbo].[BatterySlot] CHECK CONSTRAINT [FK_BatterySlot_ChargingStation]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([Package_ID])
REFERENCES [dbo].[Package] ([Package_ID])
GO
ALTER TABLE [dbo].[Booking]  WITH NOCHECK ADD FOREIGN KEY([Slot_ID])
REFERENCES [dbo].[BatterySlot] ([Slot_ID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([Station_ID])
REFERENCES [dbo].[Station] ([Station_ID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([Vehicle_ID])
REFERENCES [dbo].[Vehicle] ([Vehicle_ID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_ChargingStation] FOREIGN KEY([ChargingStation_ID])
REFERENCES [dbo].[Charging_Station] ([ChargingStation_ID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_ChargingStation]
GO
ALTER TABLE [dbo].[Charging_Station]  WITH CHECK ADD  CONSTRAINT [FK_ChargingStation_Station] FOREIGN KEY([Station_ID])
REFERENCES [dbo].[Station] ([Station_ID])
GO
ALTER TABLE [dbo].[Charging_Station] CHECK CONSTRAINT [FK_ChargingStation_Station]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Swap] FOREIGN KEY([Swap_ID])
REFERENCES [dbo].[SwapTransaction] ([ID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Swap]
GO
ALTER TABLE [dbo].[Dispatch_Log]  WITH CHECK ADD  CONSTRAINT [FK_Dispatch_BatteryType_Request] FOREIGN KEY([BatteryType_Request_ID])
REFERENCES [dbo].[Battery_Type] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Dispatch_Log] CHECK CONSTRAINT [FK_Dispatch_BatteryType_Request]
GO
ALTER TABLE [dbo].[Dispatch_Log]  WITH CHECK ADD  CONSTRAINT [FK_Dispatch_Station_Request] FOREIGN KEY([Station_Request_ID])
REFERENCES [dbo].[Station] ([Station_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dispatch_Log] CHECK CONSTRAINT [FK_Dispatch_Station_Request]
GO
ALTER TABLE [dbo].[DriverPackage]  WITH CHECK ADD FOREIGN KEY([Package_ID])
REFERENCES [dbo].[Package] ([Package_ID])
GO
ALTER TABLE [dbo].[DriverPackage]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Password_Reset]  WITH CHECK ADD  CONSTRAINT [FK_PasswordReset_Users] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Password_Reset] CHECK CONSTRAINT [FK_PasswordReset_Users]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD FOREIGN KEY([Package_ID])
REFERENCES [dbo].[Package] ([Package_ID])
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD FOREIGN KEY([Station_ID])
REFERENCES [dbo].[Station] ([Station_ID])
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[SwapTransaction]  WITH CHECK ADD FOREIGN KEY([Driver_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[SwapTransaction]  WITH CHECK ADD FOREIGN KEY([Payment_ID])
REFERENCES [dbo].[PaymentTransaction] ([ID])
GO
ALTER TABLE [dbo].[SwapTransaction]  WITH CHECK ADD FOREIGN KEY([Staff_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[SwapTransaction]  WITH CHECK ADD FOREIGN KEY([Station_ID])
REFERENCES [dbo].[Station] ([Station_ID])
GO
ALTER TABLE [dbo].[SwapTransaction]  WITH CHECK ADD  CONSTRAINT [FK_Swap_ChargingStation] FOREIGN KEY([ChargingStation_ID])
REFERENCES [dbo].[Charging_Station] ([ChargingStation_ID])
GO
ALTER TABLE [dbo].[SwapTransaction] CHECK CONSTRAINT [FK_Swap_ChargingStation]
GO
ALTER TABLE [dbo].[SwapTransaction]  WITH CHECK ADD  CONSTRAINT [FK_SwapTransaction_Booking] FOREIGN KEY([Booking_ID])
REFERENCES [dbo].[Booking] ([Booking_ID])
GO
ALTER TABLE [dbo].[SwapTransaction] CHECK CONSTRAINT [FK_SwapTransaction_Booking]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([Station_ID])
REFERENCES [dbo].[Station] ([Station_ID])
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK_Vehicle_Model] FOREIGN KEY([Model_ID])
REFERENCES [dbo].[Vehicle_Model] ([Model_ID])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK_Vehicle_Model]
GO
ALTER TABLE [dbo].[BatterySlot]  WITH CHECK ADD  CONSTRAINT [CK_BatterySlot_State] CHECK  (([State]=N'Fault' OR [State]=N'Blocked' OR [State]=N'Charging' OR [State]=N'Occupied' OR [State]=N'Empty' OR [State]=N'Reserved'))
GO
ALTER TABLE [dbo].[BatterySlot] CHECK CONSTRAINT [CK_BatterySlot_State]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [CK__Booking__Status__38996AB5] CHECK  (([Status]='Reserved' OR [Status]='Pending' OR [Status]='Confirmed' OR [Status]='Completed' OR [Status]='Expired'))
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [CK__Booking__Status__38996AB5]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [CK_Booking_Status] CHECK  (([Status]=N'Expired' OR [Status]=N'Completed' OR [Status]=N'Confirmed' OR [Status]=N'Pending' OR [Status]=N'Reserved'))
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [CK_Booking_Status]
GO
ALTER TABLE [dbo].[Dispatch_Log]  WITH CHECK ADD  CONSTRAINT [CK_Dispatch_DistinctStations] CHECK  (([Station_Respond_ID] IS NULL OR [Station_Request_ID]<>[Station_Respond_ID]))
GO
ALTER TABLE [dbo].[Dispatch_Log] CHECK CONSTRAINT [CK_Dispatch_DistinctStations]
GO
ALTER TABLE [dbo].[Dispatch_Log]  WITH CHECK ADD  CONSTRAINT [CK_Dispatch_NonNegative] CHECK  (([Quantity_Type_Good]>=(0) AND [Quantity_Type_Average]>=(0) AND [Quantity_Type_Bad]>=(0)))
GO
ALTER TABLE [dbo].[Dispatch_Log] CHECK CONSTRAINT [CK_Dispatch_NonNegative]
GO
ALTER TABLE [dbo].[Package]  WITH CHECK ADD  CONSTRAINT [CK_Package_Status] CHECK  (([Status]='inactive' OR [Status]='active'))
GO
ALTER TABLE [dbo].[Package] CHECK CONSTRAINT [CK_Package_Status]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD CHECK  (([Payment_Method]='VnPay' OR [Payment_Method]='Cash'))
GO
ALTER TABLE [dbo].[SwapTransaction]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Status]='Blocked' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Manager' OR [Role]='Admin' OR [Role]='Staff' OR [Role]='Driver'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
USE [master]
GO
